*
{
    margin: 0; padding: 0; box-sizing: border-box;
}
header
{ 
    width: 100%;
    height: 100vh;
    background-image: url(./images/photographer-camera-hand-looking-lens-bokeo-natural-green-background-120872710.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav
{
    width: 100%;
    height: 65px;
    background-color: rgb(112, 216, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo img
{
   width:250px;
   height: 67px;   
   padding-left: 100px;
   border-radius: 15px;
}
nav .menu
{
    width: 40%;
    /*background-color: brown;*/
    display: flex;justify-content: space-around;
}
nav .menu a
{
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding-bottom: 15px;
}
nav .menu a:hover
{
   background-color:lightgray; 
   border-radius: 15px;
   padding: 7px;
}
main
{
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content:center;
    align-items:center ;
    text-align:left;
}

section h1{
    font-size: 50px;
    font-weight: 200;]
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
}

section .btnone
{
    background: white;
    color: black;
    cursor: pointer;
}
section .btntwo
{
    background: white;
    color: black;
    cursor: pointer;
    margin-left: 15px;
}

section .btnone:hover
{
    background-color: aqua;
}
section .btntwo:hover
{
    background-color: aqua;
} 
h1
{
    text-align: center;
    font-weight: bold;
}
.baby
{
    background-image: url(./images/babypic.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center ;
    text-align:left;
    background-repeat: no-repeat;
    background-size: cover;
}
.baby p
{
  margin-top: -400px;
  margin-right: -800px;
  font-size: 37px;
  font-weight: bold;
  font-style: italic;
}
.family
{
    background-image: url(./images/family_photo1.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:left;
    background-repeat: no-repeat;
    background-size: cover;
}
.family p
{
  margin-top: -500px;
  margin-right: -800px;
  font-size: 37px;
  font-weight: bold;
  font-style: italic;
}
.wedding
{
    background-image: url(./images/Indian-wedding.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center ;
    text-align:left;
    background-repeat: no-repeat;
    background-size: cover;
}
.wedding p
{
  margin-top: -500px;
  margin-right: -650px;
  font-size: 37px;
  font-weight: bold;
  font-style: italic;
}
.nature
{
    background-image: url(./images/Nature_photo1.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center ;
    text-align:left;
    background-repeat: no-repeat;
    background-size: cover;
}
.nature p
{
  margin-top: -500px;
  margin-right: -650px;
  font-size: 37px;
  font-weight: bold;
  font-style: italic;
}

.site-footer {
    background-color:rgb(157, 207, 207);
  }
  footer .container{
      display: flex;
  }
  footer .box{
    flex:1;
    margin-right: 2rem;
    text-align: left;
    margin-left: 40px;
    margin-top: 30px;
  }
  footer .box1 h2{
    text-align: right;
    flex-direction: row;
    margin-right:150px;
  }
  footer .box1 ul li a
  {
    display: flex;
    flex-direction: row;
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    filter: alpha(opacity=60); 
    border-radius: 25px;
    text-decoration: none;
    color: black;
  }
  footer .box1 ul li a:hover
  {
    opacity: 1.0;
    filter: alpha(opacity=100); 
  }
  